<!--The content below is only a placeholder and can be replaced.-->
<header class="text-center p-3">
  &lt;Titre/&gt;
</header>
<div class="content col-md-10 col-xs-12 mx-auto p-0">
  <nav class="">
    <ul class="nav nav-pills nav-fill mx-auto mb-4 p-0 align-items-stretch">
      <li class="nav-item nav-item-icon-only"><a class="nav-link d-flex flex-shrink justify-content-center"
                                                 routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"><i
        class="fa fa-lg fa-home align-self-center"></i> </a></li>
      <li class="nav-item"><a class="nav-link" routerLink="experiences" routerLinkActive="active"><i
        class="fa fa-lg fa-building"></i> <span class="d-none d-sm-block">Expériences</span></a></li>
      <li class="nav-item"><a class="nav-link" routerLink="competences" routerLinkActive="active"><i
        class="fa fa-lg fa-cogs"></i> <span class="d-none d-sm-block">Compétences</span></a></li>
      <li class="nav-item"><a class="nav-link" routerLink="diplomes" routerLinkActive="active"><i
        class="fa fa-lg fa-university"></i> <span class="d-none d-sm-block">Diplômes</span></a></li>
      <li class="nav-item"><a class="nav-link" routerLink="divers" routerLinkActive="active"><i
        class="fa fa-lg fa-beer"></i> <span class="d-none d-sm-block">Divers</span></a></li>
      <li class="nav-item nav-item-icon-only btn-success rounded" id="nav-contact"><a class="nav-link d-flex flex-shrink justify-content-center"
                                                 routerLink="contact" routerLinkActive="active"><i
        class="fa fa-lg fa-envelope align-self-center fa-inverse"></i> </a></li>
    </ul>
  </nav>
  <main class="container d-flex flex-col flex-md-row p-2 p-sm-0">
    <article class="order-0 bg-light col-md-8 col-xs-12 align-self-start px-4 pt-4 rounded">
      <router-outlet></router-outlet>
    </article>
    <aside
      class="order-1 bg-light col-md-4 col-xs-12 d-flex p-0 flex-sm-row flex-md-col ml-md-3 mt-xs-3 align-self-start rounded">
      <app-aside></app-aside>
    </aside>
  </main>
</div>
<footer class="d-flex flex-col align-items-center text-center p-4 mx-auto col-md-10 col-xs-12">
  <i class="d-block col-6">Ce site web a éré réalisé à la main&nbsp;!
    <br/> Vous trouverez les sources sur ma page GitHub&nbsp;:
    <a href="https://github.com/Freudy/cv_web" target="_blank">https://github.com/Freudy/cv_web</a></i>
  <div class="col-6 border-left border-info">Mon profil vous intéresse&nbsp;?<br/>
    <a routerLink="contact">Contactez moi</a> ou <a href="/assets/cv.docx">téléchargez mon CV <i class="far fa-file-pdf"></i></a></div>
</footer>
