/* You can add global styles to this file, and also import other style files */
nav {
  a {
    color: black;
  }
}

// the class .mt-xs-3 is not working natively on bootstrap :/
@media all and (max-width: 767px) {
  .mt-xs-3 {
    margin-top: 1rem;
  }
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
  font-weight: 400;
  font-variant: small-caps;
}

h3 {
  font-size: 1.20rem;
}


caption {
  caption-side: top;
}


th {
  font-variant: small-caps;
}
td, th {
  padding: 20px;
  vertical-align: middle;
}
