/* You can add global styles to this file, and also import other style files */
nav {
  :not(.active) {
    color: black;
  }
  .active * {
    color: white;
  }
}

// the class .mt-xs-3 is not working natively on bootstrap :/
@media all and (max-width: 767px) {
  .mt-xs-3 {
    margin-top: 1rem;
  }
}

h3 {
  font-size: 1.20rem;
}


caption {
  caption-side: top;
}
