<h2 class="mb-5">Divers</h2>

<table class="table mb-5">
  <tr>
    <th><i class="fa fa-chess-rook mr-2"></i>Loisirs <br/>
    </th>
    <td>Jeu de rôle, jeux vidéo</td>
  </tr>
  <tr>
    <th><i class="fa fa-table-tennis mr-2"></i>Sports <br/>
    </th>
    <td>Badminton, Tennis
    </td>
  </tr>
</table>


<h3>Mon site CV</h3>
<div class="alert alert-primary mt-2 mb-3" role="alert">
  <i class="fa fa-exclamation fa-3x mr-3 float-left"></i>Si vous voulez jeter un &oelig;uil à mon code, tout ce site est
  disponible sur Github à l'adresse suivante : <a href="https://github.com/Freudy/cv_web" target="_blank">https://github.com/Freudy/cv_web</a>
</div>

La réalisation complète de ce site n'a pris que quelques jours, des premières maquettes au résultat final.


<figure class="mb-2">
  <a href="http://localhost:4200/assets/cv.docx" target="_blank"><img class="mx-auto d-block img-thumbnail col-md-8" src="/assets/cap_cv.png"
       alt="Mon CV PDF"/></a>
  <figcaption class="text-center"><i>Mon CV PDF</i></figcaption>
</figure>
<i class="fa fa-arrow-down fa-2x text-center d-block"></i>
<figure class="mb-2 mt-2">
  <img class="mx-auto d-block img-thumbnail col-md-8" src="/assets/cap_balsa.png"
       alt="Capture d'écran de mon premier prototype sous balsamiq"/>
  <figcaption class="text-center"><i>Prototypage sous Balsamiq</i></figcaption>
</figure>
<i class="fa fa-arrow-down fa-2x text-center d-block"></i>
<figure class="mb-2 mt-2">
  <img class="mx-auto d-block img-thumbnail col-md-8" src="/assets/cap_final.png"
       alt="Le résultat final de mon site CV de développeur web"/>
  <figcaption class="text-center"><i>Le résultat final</i></figcaption>
</figure>
