<h1 class="mb-5">Mes expériences de développeur web</h1>
<!-- CAT -->
<article class="xp mb-5  pl-3" id="cat-amania">
  <i class="fa fa-building mr-2"></i><b>CAT-AMANIA</b> <i class="fa fa-hourglass-half mr-2 ml-3 mb-3"></i> <i>{{monthsFrom(01,11,2017)}}
  MOIS / 2017-?</i>


  <div class="mission mb-4">
    Mission pour la MSA TOULOUSE <i
    class="fa fa-hourglass-end mx-2"></i>6 mois

    <h2>Ingénieur développement front-end </h2>

    <p>Ma mission pour la Mutualité Sociale Agricole s’est déroulée en deux partie : implémentation de la <b>charte
      graphique</b> au sein du téléservice dtrrsarwd et création d’un démonstrateur d’application.</p>
    <ul>
      <li>Intégration HTML et SASS pour téléservice <b>RIA RWD Angular</b></li>
      <li>Conception d’un démonstrateur pour la charte graphique</li>
    </ul>
    <em class="d-block text-center">Environnement : Angular 5 – TS/HTML5/CSS3 – Agile Scrum – 6 Devs</em>
  </div>
  <p class="alert alert-success"><b>CAT-AMANIA</b> est une Entreprise de Services Numérique spécialisée sur les projets
    orientés métier dans les domaines de la Banque, de l'Assurance et de la Protection sociale. <a
      routerLink="/entreprise/cat-amania">En savoir plus...</a>
  </p>
</article>


<!-- SII -->
<article class="xp mb-5 pl-3" id="sii">
  <i class="fa fa-building mr-2"></i><b>SII</b>
  <i class="fa fa-hourglass-half mr-2 ml-3 mb-3"></i> <i>24 MOIS / 2015-17</i><br/>


  <div class="mission mb-4">
    Mission pour Airbus TOULOUSE <i
    class="fa fa-hourglass-end mx-2"></i>6 mois

    <h2>Conception d'un simulateur de réseau avion</h2>

    <p>Dand le cadre d'un projet financé par l'Europe et en collaboration avec l'ENSEEIHT j'avais la charge de porter le
      projet de <b>simulateur de réseau avionnique</b> dans un environnement web.</p>
    <ul>
      <li>Design et conception de l’application</li>
      <li>Front end en « single page application »</li>
      <li>Back-end en <b>NodeJS</b></li>
      <li>Configuration « on the fly » du simulateur sous OMNET++</li>
      <li><b>Responsive design</b></li>
    </ul>
    <em class="d-block text-center mb-3">Environnement : NodeJS – JS/HTML5/CSS3 – 1 Dev</em>
  </div>
  <div class="mission mb-4">
    Mission pour Airbus TOULOUSE <i
    class="fa fa-hourglass-end mx-2"></i>3 projets de ~5 mois chacun


    <h2>Prototypage R&D</h2>

    <p>Au sein de l'équipe R&D &laquo; Avionique Modulaire Intégrée &raquo; (ATA42) sur le site Airbus de
      Saint-Martin-du-Touch j'ai réalisé plusieurs <b>interfaces web</b> pour des projets visant à faciliter le travail de
      maintenance aéronautique.</p>
    <ul>
      <li>Design des applications</li>
      <li>Front-ends en « single page application »</li>
      <li>Back-end en Qt/C++</li>
      <li>Interfaçage avec réseau Avion</li>
      <li><b>Responsive design</b></li>
    </ul>
    <em class="d-block text-center">Environnement : Qt – JS/HTML5/CSS3 – « Agile » – 2 Devs</em>
  </div>

  <p class="alert alert-success"><b>SII (Société pour l'informatique industrielle)</b> est une entreprise de services du
  numérique. Le groupe SII compte aujourd'hui près de 5 000 salariés pour un chiffre
  d'affaires de 317 millions d'euros environ. <a
      routerLink="/entreprise/sii">En savoir plus...</a>
  </p>
</article>


<!-- FW -->
<article class="xp mb-5 pl-3" id="first-web">
  <i class="fa fa-building mr-2"></i><b>FIRST WEB</b>
  <i class="fa fa-hourglass-end mr-2 ml-3 mb-3"></i> <i>10 MOIS / 2015</i><br/>

  <div class="mission mb-4">
    <h2>Developpeur fullstack Zend</h2>

    <p>Dans le cadre d'un projet de création d'ERP pour un client expert télécom (installation de lignes téléphoniques)
      j'ai participé à la réalisation de l'application utilisant le framework interne sous <b>Zend</b>.</p>
    <ul>
      <li>Utilisation approfondie de Zend sous la tutelle du DSI</li>
      <li>Automatisation de process métiers</li>
      <li>Communication client/serveur <b>RESTFUL</b></li>
    </ul>
    <em class="d-block text-center">Environnement : Zend – JS/HTML5/CSS3 – « Agile » – 3 Devs</em>
  </div>
  <p class="alert alert-success">Installée à Castres depuis 1998, <b>First Web</b> est une agence de développement et de
    design web.</p>

</article>


<!-- A26 -->
<article class="xp pl-3" id="a26">
  <i class="fa fa-building mr-2"></i><b>AVENSYS</b>
  <i class="fa fa-hourglass-end mr-2 ml-3 mb-3"></i> <i>18 MOIS / 2013-14</i><br/>


  <div class="mission mb-4">
    <h2>Developpeur fullstack ASP. NET</h2>

    <ul>
      <li>Mises à jour, debug et améliorations de l’ERP existan</li>
      <li>Migration de toute l’application sous <b>Bootstrap</b></li>
    </ul>
    <em class="d-block text-center">Environnement : IIS – ASP.NET – JS/HTML5/CSS3 – 3 Devs</em>
    <i class="d-block text-center">Contrat de professionnalisation avec <a routerLink="/diplomes" fragment="iforco">IFORCO</a></i>
  </div>
  <p class="alert alert-success"><b>Avensys</b> est un éditeur de logiciel spécialisé dans les solutions pour les
    cabinets d'expertises.</p>
</article>


