<h2 class="mb-5">Expériences</h2>
<!-- CAT -->
<article class="xp mb-5  pl-3">
  <i class="fa fa-building mr-2"></i><b>CAT-AMANIA</b> <i class="fa fa-hourglass-half mr-2 ml-3 mb-3"></i> <i>{{monthsFrom(01,11,2017)}}
  MOIS / 2017-?</i>

  <p class="alert alert-success"><b>CAT-AMANIA</b> est une Entreprise de Services Numérique spécialisée sur les projets
    d'envergure orientés métier, notamment dans les domaines de la Banque, de l'Assurance et de la Protection sociale.
    Elle compte aujourd'hui plus de 570 collaborateurs. <a href="https://www.cat-amania.com/" target="_blank"
                                                           rel="nofollow">https://www.cat-amania.com/</a>
  </p>

  <div class="mission mb-3">
    Mission <i class="fas fa-user-tie mx-2 mb-3"></i>MSA TOULOUSE <i
    class="fa fa-hourglass-end mx-2"></i>6 mois

    <h3>Ingénieur développement </h3>

    <p>Ma mission pour la Mutualité Sociale Agricole s’est déroulée en deux partie : implémentation de la charte
      graphique au sein du téléservice dtrrsarwd et création d’un démonstrateur d’application.</p>
    <ul>
      <li>Intégration HTML et SASS pour téléservice RIA RWD Angular</li>
      <li>Conception d’un démonstrateur pour la charte graphique</li>
    </ul>
    <em class="d-block text-center">Environnement : Angular 5 – TS/HTML5/CSS3 – Agile Scrum – 6 Devs</em>
  </div>
</article>


<!-- SII -->
<article class="xp mb-5 pl-3">
  <i class="fa fa-building mr-2"></i><b>SII</b>
  <i class="fa fa-hourglass-half mr-2 ml-3 mb-3"></i> <i>24 MOIS / 2015-17</i><br/>

  <p class="alert alert-success"><b>SII (Société pour l'informatique industrielle)</b> est une entreprise de services du
    numérique. Le groupe SII, créé en 1979 par Bernard Huvé compte aujourd'hui près de 5 000 salariés pour un chiffre
    d'affaires de 317 millions d'euros environ. <a href="http://www.groupe-sii.com/" target="_blank" rel="nofollow">http://www.groupe-sii.com/</a>
  </p>

  <div class="mission mb-3">
    Mission <i class="fas fa-user-tie mx-2 mb-3"></i>Airbus TOULOUSE <i
    class="fa fa-hourglass-end mx-2"></i>6 mois

    <h3>Conception simulateur réseau avion (6 mois)</h3>

    <p>Dand le cadre d'un projet financé par l'Europe et en collaboration avec l'ENSEEIHT j'avais la charge de porter le
      projet de simulateur de réseau avionnique dans un environnement web.</p>
    <ul>
      <li>Design et conception de l’application</li>
      <li>Front end en « single page application »</li>
      <li>Back-end en NodeJS</li>
      <li>Configuration « on the fly » du simulateur sous OMNET++</li>
      <li>Responsive design</li>
    </ul>
    <em class="d-block text-center mb-3">Environnement : NodeJS – JS/HTML5/CSS3 – 1 Dev</em>
  </div>
  <div class="mission mb-3">
    Mission <i class="fas fa-user-tie mx-2 mb-3"></i>Airbus TOULOUSE <i
    class="fa fa-hourglass-end mx-2"></i>3 projets de ~5 mois chacun


    <h3>Prototypage R&D</h3>

    <p>Au sein de l'équipe R&D &laquo; Avionique Modulaire Intégrée &raquo; (ATA42) sur le site Airbus de
      Saint-Martin-du-Touch j'ai réalisé plusieurs interfaces web pour des projets visant à faciliter le travail de
      maintenance aéronautique.</p>
    <ul>
      <li>Design des applications</li>
      <li>Front-ends en « single page application »</li>
      <li>Back-end en Qt/C++</li>
      <li>Interfaçage avec réseau Avion</li>
      <li>Responsive design</li>
    </ul>
    <em class="d-block text-center">Environnement : Qt – JS/HTML5/CSS3 – « Agile » – 2 Devs</em>
  </div>
</article>


<!-- FW -->
<article class="xp mb-5 pl-3">
  <i class="fa fa-building mr-2"></i><b>FIRST WEB</b>
  <i class="fa fa-hourglass-end mr-2 ml-3 mb-3"></i> <i>10 MOIS / 2015</i><br/>

  <p class="alert alert-success">Installée à Castres depuis 1998, <b>First Web</b> est une agence de développement et de
    design web.</p>

  <div class="mission mb-3">
    <h3>Developpeur fullstack Zend</h3>

    <p>Dans le cadre d'un projet de création d'ERP pour un client expert télécom (installation de lignes téléphoniques)
      j'ai participé à la réalisation de l'application utilisant le framework interne sous Zend.</p>
    <ul>
      <li>Utilisation approfondie de Zend sous la tutelle du DSI</li>
      <li>Automatisation de process métiers</li>
      <li>Communication client/serveur RESTFUL</li>
    </ul>
    <em class="d-block text-center">Environnement : Zend – JS/HTML5/CSS3 – « Agile » – 3 Devs</em>
  </div>
</article>


<!-- A26 -->
<article class="xp mb-5 pl-3" id="a26">
  <i class="fa fa-building mr-2"></i><b>AVENSYS</b>
  <i class="fa fa-hourglass-end mr-2 ml-3 mb-3"></i> <i>18 MOIS / 2013-14</i><br/>

  <p class="alert alert-success"><b>Avensys</b> est un éditeur de logiciel spécialisé dans les solutions pour les
    cabinets d'expertises.
    <a href="https://avensys.fr/" target="_blank" rel="nofollow">https://avensys.fr/</a></p>

  <div class="mission mb-3">
    <h3>Developpeur fullstack ASP. NET</h3>

    <p>Ma mission chez Avensys</p>
    <ul>
      <li>Mises à jour, debug et améliorations de l’ERP existan</li>
      <li>Migration de toute l’application sous Bootstrap</li>
    </ul>
    <em class="d-block text-center">Environnement : IIS – ASP.NET – JS/HTML5/CSS3 – 3 Devs</em>
    <i class="d-block text-center">Contrat de professionnalisation avec <a routerLink="/diplomes" fragment="iforco">IFORCO</a></i>
  </div>
</article>


