$c-lightblue: #add8e6;

.xp {
  border-left: 3px solid $c-lightblue;
  padding-left: 1.3rem;
}

.mission {
  border-left: 3px solid $c-lightblue;
  padding-left: 1.3rem;
}

li {
  list-style-type: circle;
}
