<h2 class="mb-5">Expériences</h2>
<!-- CAT -->
<div class="xp mb-5 p-2 pl-3">
  <em class="enterprise">CAT-AMANIA 3 MOIS / 2017-?</em>

  <h3>[MSA TOULOUSE] Ingénieur développement (6 mois)</h3>
  <ul>
    <li>Intégration HTML et SASS pour téléservice RIA RWD Angular</li>
    <li>Conception d’un démonstrateur pour la charte graphique</li>
  </ul>
  <em class="d-block text-center">Environnement : Angular 5 – TS/HTML5/CSS3 – Agile Scrum – 6 Devs</em>
</div>


<!-- SII -->

<div class="xp mb-5 p-2 pl-3">
  <em class="enterprise">SII 24 MOIS / 2015-17 </em>

  <h3>[Airbus TOULOUSE] Conception simulateur réseau avion (6 mois)</h3>
  <ul>
    <li>Design et conception de l’application</li>
    <li>Front end en « single page application »</li>
    <li>Back-end en NodeJS</li>
    <li>Configuration « on the fly » du simulateur sous OMNET++</li>
    <li>Responsive design</li>
  </ul>
  <em class="d-block text-center mb-3">Environnement : NodeJS – JS/HTML5/CSS3 – 1 Dev</em>

  <h3>[Airbus TOULOUSE] Prototypage R&D (3 projets de ~5 mois chacun)</h3>
  <ul>
    <li>Design des applications</li>
    <li>Front-ends en « single page application »</li>
    <li>Back-end en Qt/C++</li>
    <li>Interfaçage avec réseau Avion</li>
    <li>Responsive design</li>
  </ul>
  <em class="d-block text-center">Environnement : Qt – JS/HTML5/CSS3 – « Agile » – 2 Devs</em>
</div>

<!-- FW -->
<div class="xp mb-5 p-2 pl-3">
  <em class="enterprise">FIRST WEB 10 MOIS / 2015</em>

  <h3>[CASTRES] Développement de progiciels sous Zend</h3>
  <ul>
    <li>Utilisation approfondie de Zend sous la tutelle du DSI</li>
    <li>Automatisation de process métiers</li>
    <li>Communication client/serveur RESTFUL</li>
  </ul>
  <em class="d-block text-center">Environnement : Zend – JS/HTML5/CSS3 – « Agile » – 3 Devs</em>
</div>


<!-- A26 -->
<div class="xp mb-5 p-2 pl-3">
  <em class="enterprise">AVENSYS 18 MOIS / 2013-14</em>

  <h3>[TOULOUSE] Développement d’un ERP en ASP. NET</h3>
  <ul>
    <li>Mises à jour, debug et améliorations de l’ERP existan</li>
    <li>Migration de toute l’application sous Bootstrap</li>
  </ul>
  <em class="d-block text-center">Environnement : IIS – ASP.NET – JS/HTML5/CSS3 – 3 Devs</em>
</div>


