<h1 class="mb-4">Compétences techniques</h1>

<figure>
  <img class="mx-auto  d-block img-thumbnail" src="./assets/mean.png" alt="MEAN stack"/>
  <figcaption class="text-center"><i>La stack MEAN : Mongo, Express, Angular, Node</i></figcaption>
</figure>

<div class="legend text-center m-4">
  Légende : <span class="far fa-star"></span><span class="far fa-star"></span><span class="far fa-star"></span> <b> Expérimenté</b> >
  <span class="far fa-star"></span><span class="far fa-star"></span> Autonome > <span class="far fa-star"></span> <i> Débutant</i>
</div>


<h2>Langages</h2>
<table class="table">
  <tr>
    <th>Front</th>
    <td><b>Javascript</b>, <b>HTML5</b>, <b>CSS3</b>, SASS, LESS, Typescript</td>
  </tr>
  <tr>
    <th>Back</th>
    <td><b>Javascript</b>, PHP5, <i>Java EE</i>, <i>C++</i></td>
  </tr>
</table>

<h2>Frameworks</h2>
<table class="table">
  <tr>
    <th>Front</th>
    <td><b>Bootstrap</b>, <b>jQuery</b>, Angular, <i>Vue.js</i>, <i>Grunt</i></td>
  </tr>
  <tr>
    <th>Back</th>
    <td><b>NodeJS</b>, <b>ExpressJS</b>, Apache, <i>React</i>, <i>Zend</i></td>
  </tr>
</table>

<h2>Outils</h2>
<table class="table">
  <tr>
    <th>UI/UX</th>
    <td>Balsamiq, <i>Photoshop</i></td>
  </tr>
  <tr>
    <th>SSH/FTP</th>
    <td><b>Putty</b>, <b>FileZilla</b>, mRemoteNG, MobaXterm</td>
  </tr>
  <tr>
    <th>VCS</th>
    <td><b>Git</b>, Subversion</td>
  </tr>
</table>


<h2>SGBD</h2>
<table class="table">
  <tr>
    <th></th>
    <td>MongoDB, MySQL, <i>PostgreSQL</i></td>
  </tr>
</table>


<h2>Langues</h2>
<table class="table">
  <tr>
    <th></th>
    <td>Anglais opérationnel (Suivi de réunions & rédaction de documentation)</td>
  </tr>
</table>

<div class="alert alert-primary mt-2 mb-3" role="alert">
  <h2>Intérêts</h2>
  Les technologies présentées ci-dessus résument mes
  expériences professionnelles. La culture du web est bien plus vaste et certains domaines me tiennent particulièrement
  à c&oelig;ur
  :
  <ul class="mt-2">
    <li>Ergonomie des interfaces, <strong>expérience utilisateur</strong> ;</li>
    <li><strong>SEO</strong> : Optimisation pour les moteurs de recherche  ;</li>
    <li>Communication, image de marque, webmarketing.</li>
  </ul>
</div>
