<h1 class="mb-5">Diplômes et formations</h1>

<table class="table">
  <tr>
    <th><i class="fa fa-home mr-2 fa-fw"></i>Autodidacte</th>
    <td>2018 Formation <a href="https://www.udemy.com/the-complete-guide-to-angular-2" target="_blank">Udemy Angular
      5 <sup class="fa fa-external-link-alt fa-xs"></sup></a></td>
  </tr>
  <tr>
    <th><i class="fa fa-building mr-2 fa-fw"></i>SII <br/>
      <i class="fa fa-calendar mr-2 fa-fw"></i><small>3 SEMAINES / 2017</small>
    </th>
    <td>Formation Java 8 niveau Intermédiaire</td>
  </tr>
  <tr id="iforco">
    <th><i class="fa fa-building mr-2 fa-fw"></i>IFORCO <br/>
      <i class="fa fa-calendar mr-2 fa-fw"></i><small>18 MOIS / 2014</small>
    </th>
    <td>Formation développeur web <small>(non diplômant)</small><br/>
      Contrat de professionnalisation avec <a routerLink="/experiences" fragment="a26">Avensys</a>
    </td>
  </tr>
  <tr>
    <th><i class="fa fa-building mr-2 fa-fw"></i>Université Paul Sabatier <br/>
      <i class="fa fa-calendar mr-2 fa-fw"></i><small>2010-2012</small>
    </th>
    <td>DUT Informatique</td>
  </tr>
</table>
