


<table class="table">
  <caption>Diplomes et formation</caption>
  <tr>
    <th>AUTODIDACTE</th>
    <td>2018	Formation Udemy Angular 5
      o	https://www.udemy.com/the-complete-guide-to-angular-2</td>
  </tr>
  <tr>
    <th>SII
      3 SEMAINES / 2017</th>
    <td>Formation Java 8 niveau Intermédiaire en interne</td>
  </tr>
  <tr>
    <th>IFORCO
      18 MOIS / 2014</th>
    <td>Formation développeur web (non diplômant)
      Contrat de professionnalisation avec Avensys</td>
  </tr>
  <tr>
    <th>UNIVERSITE PAUL SABATIER 2010-2012

      TOULOUSE</th>
    <td>DUT Informatique</td>
  </tr>
</table>
