<img class="mx-auto d-block rounded-circle mb-2" src="http://via.placeholder.com/100x100" alt="hello there"/>
<p class="float-xs-right">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Accusantium asperiores aspernatur consectetur culpa distinctio doloremque eligendi eveniet ipsum magnam maxime,
  minima, officiis quia quibusdam quis quisquam tempore tenetur voluptas voluptate?
</p>
<address>
  <i class="fa fa-phone mr-3"></i> <a href="tel:0000000000">00.00.00.00.00</a><br>
  <i class="fa fa-at mr-3"></i> <a href="mailto:a@b.c">a@b.c</a>
</address>
