<img class="mx-auto d-block rounded-circle m-4 mb-2 " src="http://via.placeholder.com/125x125" alt="hello there"/>

<p class="float-xs-right m-4">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Accusantium asperiores aspernatur consectetur culpa distinctio doloremque eligendi eveniet ipsum magnam maxime.
</p>
<address class="m-4">
  <i class="fa fa-phone mr-3"></i> <a href="tel:0000000000">00.00.00.00.00</a><br>
  <i class="fa fa-at mr-3"></i> <a href="mailto:a@b.c">a@b.c</a>
</address>
<a href="/assets/cv.docx" target="_blank" class="btn btn-lg btn-block btn-success p-3 rounded-0">Télécharger <i
  class="fa fa-file-pdf ml-2"></i></a>
