<img class="mx-auto d-block rounded-circle m-4 mb-2 " src="http://via.placeholder.com/125x125" alt="hello there"/>

<p class="float-xs-right m-4">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Accusantium asperiores aspernatur consectetur culpa distinctio doloremque eligendi eveniet ipsum magnam maxime.
</p>
<address class="text-center">
  <a href="https://www.linkedin.com/in/j%C3%A9r%C3%A9mie-pavie-68012365/" target="_blank" class="linkedin" rel="nofollow"> <i
    class="mr-2 fab fa-linkedin fa-3x"></i></a>
  <a href="http://www.viadeo.com/p/0021li7tiiscjjdk" target="_blank" class="viadeo" rel="nofollow"> <i
    class="mr-2 fab fa-viadeo-square fa-3x"></i></a>
  <a href="https://github.com/Freudy/cv_web" target="_blank" class="github" rel="nofollow"> <i class="fab fa-3x fa-github-square mr-2"></i></a><br/>
  <a href="mailto:a@b.c" class="mail"> <i class="mr-2 fa fa-envelope-square fa-3x"  rel="nofollow"></i></a>
  <a href="tel:0000000000" class="phone" rel="nofollow"> <i class="fa fa-phone-square fa-3x"></i></a>
  <a href="/">
<span class="fa-stack fa-2x">
  <i class="fa fa-square fa-stack-2x"></i>
  <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
</span>  </a>
</address>
<a href="/assets/cv.docx" target="_blank" id="downloadPdf"
   class="btn btn-lg btn-block btn-success p-3 rounded-0 d-flex justify-content-center"> <span
  class="align-self-center">Télécharger</span><i
  class="fa-2x far fa-file-pdf ml-3"></i></a>
